{
  "extends": ["productsway/react", "plugin:@next/next/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist", ".eslintrc", "next.config.js"],
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-unsafe-return": "warn",
    "@typescript-eslint/restrict-template-expressions": "warn",
    "new-cap": "off"
  }
}
